.button{
    background-color:$blue;
    color:white;
    border:none;
    border-radius: 15px;
    padding:$s-size;
    //
    display:inline-block;
    text-decoration:none;
    line-height: 1;
    //
    font-weight: 300;
    font-size:$font-size-large;
}

.button--link{
    text-decoration: none;
    // background:none;
}
.link{
    text-decoration: none;
    color:$blue;
}
.button--cover{
    height:100%;
    width: 100%;
    text-align: center;
}

.button--circle{
    border-radius:15px;
}

.header--button{
    margin:0 $s-size;
}