.text-input {
    border: 1px solid #cacccd;
    width: 335px;
    font-weight: 300;
    font-size: $font-size-large;
    padding: $s-size;
}
.select {
    @extend .text-input;
    height: 45px;
    width: 108px;
    font-size: $font-size-medium;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}
.input-group__item {
  margin-bottom: $s-size;
  .button{
    margin : $s-size 0;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
    .button{
        margin : 0;
      }
    // width:50px;
  }


}